@model IEnumerable<AAOAdmin.Models.Route>

@{
    ViewData["Title"] = "Ture";
}
<h1>Ture</h1>

<table class="table">
    <thead>
        <tr>
            <th>Startdato</th>
            <th>Slutdato</th>
            <th>Varighed</th>
            <th>Afdeling</th>
            <th>Start lokation</th>
            <th>Slut lokation</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.RouteStartDate)</td>
                <td>@Html.DisplayFor(modelItem => item.RouteEndDate)</td>
                <td>@Html.DisplayFor(modelItem => item.RouteEstTime) timer</td>
                <td>@Html.DisplayFor(modelItem => item.Department.DepartmentName)</td>
                <td>@Html.DisplayFor(modelItem => item.RouteStartLocation.LocationAddress)</td>
                <td>@Html.DisplayFor(modelItem => item.RouteEndLocation.LocationAddress)</td>
                <td>@Html.DisplayFor(modelItem => item.RouteStatus.RouteStatusName)</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.RouteId">Rediger</a>
                    @* <a asp-action="Details" asp-route-id="@item.RouteId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.RouteId">Delete</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>
