@model IEnumerable<AAOAdmin.Models.Route>

@{
    ViewData["Title"] = "Ture";
}

<script src="~/js/driverRequestModal.js"></script>

<h1>Ture</h1>
<br>
<form asp-action="Index" method="get">
    <div>
        <p>
            Søg start dato: <input type="date" class="outline outline-1 outline-gray-300" name="SearchString"
                value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Søg" class="btn btn-default" /> |
            <a asp-action="Index">Ryd filtre</a>
        </p>
    </div>
</form>
<br>
<table class="w-full border-collapse">
    <thead>
        <tr>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["StartDateSortParm"]"
                    class="underline">Startdato</a></th>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["EndDateSortParm"]" class="underline">Slutdato</a>
            </th>
            <th>Varighed</th>
            <th>Afdeling</th>
            <th>Start lokation</th>
            <th>Slut lokation</th>
            <th>Status</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.RouteStartDate)</td>
                <td>@Html.DisplayFor(modelItem => item.RouteEndDate)</td>
                <td>@Html.DisplayFor(modelItem => item.RouteEstTime) timer</td>
                <td>@Html.DisplayFor(modelItem => item.Department.DepartmentName)</td>
                <td>@Html.DisplayFor(modelItem => item.RouteStartLocation.LocationAddress)</td>
                <td>@Html.DisplayFor(modelItem => item.RouteEndLocation.LocationAddress)</td>
                <td>@Html.DisplayFor(modelItem => item.RouteStatus.RouteStatusName)</td>

                <td>
                    @if (item.UserId == null)
                    {
                        <div class="flex">
                            <button
                        class="text-base block m-auto text-white border-none cursor-pointer rounded-sm no-underline py-2 px-4 bg-[#00904a]"
                        onclick="generateRequestModal(@item.RouteId)">
                                Tildel tur
                            </button>
                        </div>
                    }
                </td>
                <td>
                    <div class="flex">
                        <a asp-action="Edit" asp-route-id="@item.RouteId"
                        class="text-base block m-auto text-white border-none cursor-pointer rounded-sm no-underline py-2 px-4 bg-[#888]">Rediger</a>
                    </div>
                </td>
                <td>
                    <div class="flex">
                        <a asp-action="Delete" asp-route-id="@item.RouteId" class="del-btn">Slet</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="req-modal" class="hidden fixed z-[1] pt-24 left-0 top-0 w-full h-full overflow-auto bg-[rgba(0,0,0,0.4)]">
    <div class="bg-[#fefefe] m-auto p-6 w-5/6 border border-[#888] border-solid">
        <span class="close" onclick="closeRequestsModal()">&times;</span>
        <table class="w-full border-collapse">
            <thead>
                <tr>
                    <th>Navn</th>
                    <th>Telefon nummer</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="req-modal-body">
            </tbody>
        </table>
    </div>
</div>