@model IEnumerable<AAOAdmin.Models.DriversAvailable>

@{
    ViewData["Title"] = "Chauffører";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chauffører</h1>
<br>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Søg dato: <input type="date" class="searchdate" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Søg" class="btn btn-default" /> |
            <a asp-action="Index">Ryd filtre</a>
        </p>
    </div>
</form>
<br>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]"
                    style="text-decoration:underline;">Ledighed</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"
                    style="text-decoration:underline;">Navn</a>
            </th>
            <th>
                Telefonnummer
            </th>
            <th>
                Lokation
            </th>
            <th>
                Land
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.DriversAvailableDate
                </td>
                <td>
                    @item.User.UserFullName
                </td>
                <td>
                    @item.User.UserPhoneNumber
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.DriverInformation.Location.LocationPostalCode)

                    @Html.DisplayFor(modelItem => item.User.DriverInformation.Location.City.CityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.DriverInformation.Location.City.Country.CountryName)
                </td>
                <td>
                    <button asp-route-id="@item.UserId" onclick="switchModal(@item.UserId)" runat="server" text="Button"
                    OnClientClick="return false;" id="myBtn">
                        Tildel tur
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Start Date
                    </th>
                    <th>
                        End Date
                    </th>
                    <th>
                        Department name
                    </th>
                    <th>
                        Start Location
                    </th>
                    <th>
                        End Location
                    </th>
                    <th>
                        Status
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Routes)
                {
                    <tr>
                        <td>
                            @item.RouteStartDate
                        </td>
                        <td>
                            @item.RouteEndDate
                        </td>
                        <td>
                            @item.Department.DepartmentName
                        </td>
                        <td>
                            @item.RouteStartLocation.LocationAddress
                        </td>
                        <td>
                            @item.RouteEndLocation.LocationAddress
                        </td>
                        <td>
                            @item.RouteStatus.RouteStatusName
                        </td>
                        <td>
                            <div><button id="myBtn" onclick="assignRoute(@item.RouteId)">Tildel</button></div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    let userId = null;
    // Get the modal
    let modal = document.getElementById("myModal");

    // Get the <span> element that closes the modal
    let span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        userId = null;

        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            userId = null;

            modal.style.display = "none";
        }
    }

    function switchModal(uId = null) {
        modal.style.display = "block";
        userId = uId;
    }

    async function assignRoute(routeId) {
        console.log(routeId, userId)

        if (routeId && userId) {
            const response = await fetch(`/api/routes/${routeId}/${userId}`, { method: "PUT" })
                .then(response => response.json())

            window.alert("Chaufføren fik tildelt ruten");
            window.location.reload();
        }
    }

</script>
