@using AAOAdmin;
@model dynamic


@{ ViewData["Title"] = "test";
  Layout = "~/Views/Shared/_Layout.cshtml"; }




<h1>@ViewBag.Message</h1>

 <table class="table">
            <thead>
              <tr>
                <th>Startdato</th>
                <th>Slutdato</th>
                <th>Varighed</th>
                <th>Afdeling</th>
                <th>Start lokation</th>
                <th>Slut lokation</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              @foreach (Route route in Model.Routes)
              {
        <tr>
          <td>@route.RouteStartDate)</td>
          <td>@route.RouteEndDate)</td>
          <td>@route.RouteEstTime) timer</td>
          <td>@route.Department.DepartmentName)</td>
          <td>@route.RouteStartLocation.LocationAddress)</td>
          <td>@route.RouteEndLocation.LocationAddress)</td>
          <td>@route.RouteStatus.RouteStatusName)</td>

          <td>
            <a asp-action="Edit" asp-route-id="@route.RouteId">Rediger</a>
            @* <a asp-action="Details" asp-route-id="@item.RouteId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.RouteId">Delete</a> *@
      </td>
      </tr>}
      </tbody>
      </table>


 <table>


   <thead>
     <tr>
       <th>Availability Date</th>
       <th>Full Name</th>
       <th>Phone Number</th>
       <th>City</th>
       <th>Country</th>
     </tr>
   </thead>
   <tbody>
     @foreach (DriversAvailable drivers in Model.DriversAvailable)
     {
 <tr>
   <td>
     @drivers.DriversAvailableDate)
   </td>
   <td>
     @drivers.User.UserFullName)
   </td>
   <td>
     @drivers.User.UserPhoneNumber)
   </td>
   <td>
     @drivers.User.DriverInformation.Location.LocationPostalCode)

     @drivers.User.DriverInformation.Location.City.CityName)
   </td>
   <td>
     @drivers.User.DriverInformation.Location.City.Country.CountryName)
   </td>
   </tr>
     }
 </tbody>
</table>


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  @*<div class="modal-content">
          <span class="close">&times;</span>
          <table class="table">
            <thead>
              <tr>
                <th>Startdato</th>
                <th>Slutdato</th>
                <th>Varighed</th>
                <th>Afdeling</th>
                <th>Start lokation</th>
                <th>Slut lokation</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              @foreach (var route in Model)
              {
        <tr>
          <td>@Html.DisplayFor(modelItem => route.RouteStartDate)</td>
          <td>@Html.DisplayFor(modelItem => route.RouteEndDate)</td>
          <td>@Html.DisplayFor(modelItem => route.RouteEstTime) timer</td>
          <td>@Html.DisplayFor(modelItem => route.Department.DepartmentName)</td>
          <td>@Html.DisplayFor(modelItem => route.RouteStartLocation.LocationAddress)</td>
          <td>@Html.DisplayFor(modelItem => route.RouteEndLocation.LocationAddress)</td>
          <td>@Html.DisplayFor(modelItem => route.RouteStatus.RouteStatusName)</td>

          <td>
            <a asp-action="Edit" asp-route-id="@route.RouteId">Rediger</a>
            @* <a asp-action="Details" asp-route-id="@item.RouteId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.RouteId">Delete</a>
      </td>
      </tr>}
      </tbody>
      </table>

    </div>

    </div>
  *@






  @*<table class="table">
        <thead>
          <tr>
            <th>
              Availability Date
            </th>
            <th>
              Full Name
            </th>
            <th>
              Phone Number
            </th>
            <th>
              City
            </th>
            <th>
              Country
            </th>
          </tr>
        </thead>
        <tbody>
          @foreach (var item in Model)
          {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.DriversAvailableDate)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.User.UserFullName)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.User.UserPhoneNumber)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.User.DriverInformation.Location.LocationPostalCode)

          @Html.DisplayFor(modelItem => item.User.DriverInformation.Location.City.CityName)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.User.DriverInformation.Location.City.Country.CountryName)
        </td>
        <td>

          <button id="myBtn" asp-action="TestRoutes">Tildel</button>

          <!-- The Modal -->
          <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
              <span class="close">&times;</span>
              @foreach (var route in Model.Routes)
              {
      <tr>
        <td>@Html.DisplayFor(modelItem => route.RouteStartDate)</td>
        <td>@Html.DisplayFor(modelItem => route.RouteEndDate)</td>
        <td>@Html.DisplayFor(modelItem => route.RouteEstTime) timer</td>
        <td>@Html.DisplayFor(modelItem => route.Department.DepartmentName)</td>
        <td>@Html.DisplayFor(modelItem => route.RouteStartLocation.LocationAddress)</td>
        <td>@Html.DisplayFor(modelItem => route.RouteEndLocation.LocationAddress)</td>
        <td>@Html.DisplayFor(modelItem => route.RouteStatus.RouteStatusName)</td>

        <td>
          <a asp-action="Edit" asp-route-id="@route.RouteId">Rediger</a>
        </td>
      </tr>
      }

              </div>

              </div>

              </td>


              </tr>}
        </tbody>
      </table>

    <button id="myBtn" asp-action="TestRoutes">Tildel</button>*@

  <script>
    // Get the modal
    let modal = document.getElementById("myModal");

    // Get the button that opens the modal
    let btn = document.querySelectorAll("#myBtn");

    for (let i = 0; i < btn.length; i++) {
      btn[i].onclick = function () {
        modal.style.display = "block";
      }
    }

    // Get the <span> element that closes the modal
    let span = document.getElementsByClassName("close")[0];


    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>
