@model IEnumerable<AAOAdmin.Models.DriversAvailable>

@{
    ViewData["Title"] = "test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>test</h1>


<table class="table">
    <thead>
      <tr>
        <th>
          <a asp-action="Index" asp-route-sortOrder="@ViewData["Date"]">Availability Date</a>
        </th>
        <th>
          <a asp-action="Index" asp-route-sortOrder="@ViewData["name_desc"]">Full Name</a>
        </th>
        <th>
          Phone Number
        </th>
        <th>
          City
        </th>
        <th>
          Country
        </th>
      </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.DriversAvailableDate)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.User.UserFullName)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.User.UserPhoneNumber)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.User.DriverInformation.Location.LocationPostalCode)

          @Html.DisplayFor(modelItem => item.User.DriverInformation.Location.City.CityName)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.User.DriverInformation.Location.City.Country.CountryName)
        </td>



      </tr>
}
    </tbody>
</table>
